body {
    font-family: 'Prompt', sans-serif;
}
.contenu {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  margin: 5% auto;
}
footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
