#text {
  display: flex;
  justify-content: space-around;
  max-width: 50em;
  margin: 0px auto;
  margin-top: 5em;
  text-align: center;
  margin-bottom: 5em;
}
.articleChange {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin: 0px auto;
  margin-top: 8%;
}

.edit h3 {
  text-align: center;
  margin-top: 3em;
}
.waves-input-wrapper {
  margin-top: 2em;
}
.contenu {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  margin: 0px auto;
  margin-top: 8%;
}
