body {
    font-family: 'Prompt', sans-serif;
}
#text {
    display: flex;
    justify-content: space-around;
    max-width: 50em;
    text-align: center;
    margin: 5em auto;
}
.articleChange {
    display: flex;
    flex-direction: column;
    max-width: 60em;
    margin: 8% auto 0;
}
.edit h3 {
    text-align: center;
    margin-top: 3em;
}

/*noinspection ALL*/
.waves-input-wrapper {
    margin-top: 2em;
}
.contenu {
    display: flex;
    flex-direction: column;
    max-width: 35em;
    margin: 8% auto 0;
}
footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
